/**
 * Main CSS for ChartBuiler
 */

@import url(http://fonts.googleapis.com/css?family=Cutive);

/**
 * General
 */
body {
	overflow-y: scroll;
	min-width: 800px; 
	line-height: 1.1em;
	font-size: 0.75em;
	color: #666;
}

cite {
	font-size: .85em;
	color: #999;
	margin-bottom: 1em;
	line-height: 1em;
	display: block;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: 0;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

table {
  width: 100%;
}

.hide {
  display: none;
}
 
/**
 * Layout
 */
.cbInner {
  margin: 0 1em;
}

#interactiveContent {
  margin: 0;
  padding-left: 650px;
  padding-right: 0px
}

#interactiveContent .columns {
	float:left;
	position: relative;
}

#leftColumn {
	width: 650px;
	min-height: 5em;
	margin-left: -100%;
	right: 650px;
}

#rightColumn {
  	min-width: 100px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px dashed #666666;
}

#blankColumn {
	width: 0px;
	margin-right: 0px;
}

#leftColumn .cbInner {
  margin-top: 1em;
}

#rightColumn .cbInner {
  margin-bottom: 2em;
}





/**
 * Chart
 */
#staticContainer {
	position: fixed;
	left: 1em;
	margin-top: 0.5;
}

#chartContainer {
	width: 600px;
	height: 338px;
	border: 1px solid #efefef;
}

#interactiveContent svg .legendItem text {
	cursor: move;
}

#canvas, #favicanvas {
	display: none;
}

/**
 * Form items.
 */
#rightColumn .cbInner .optionGroup {
	max-width: 200px;
	float: left;
}

#rightColumn .cbInner h2 {
	clear: both;
}

input,
textarea,
select {
	display: block;
	margin-bottom: 1em;
	width: 90%;
	font-family: 'PTSerif';
	color: #666666;
	border: 1px solid #ccc;
}

input[type="text"] {
	padding: .25em .5em;
}

label {
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #666666;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: .25em;
}

textarea {
  font-size: .75em;
}

.input-box {
	max-height: 100px;
	overflow: scroll;
}

#rightColumn cite {
  margin-top: -.85em;
}

/**
 * Data input
 */

#datainput textarea,
#datainput table {
	font-family: Monaco, sans-serif;
}

#dataTable .otherrow {
	background-color: #eee;
}

#dataTable {
  width: 90%;
	font-size: .85em;
	overflow-x: scroll;
	border: 1px solid #ccc;
}

#dataTable th {
	font-weight: bold;
}

#dataTable td {
	text-align: center;
	padding: .25em .5em;
}

/**
 * Chart options
 */


/**
 * Series items
 */
#seriesItems {
	margin-bottom: 1em;
}

#seriesItems .seriesItemGroup input, 
#seriesItems .seriesItemGroup select,
#seriesItems .seriesItemGroup .colorPicker-picker {
	float: left;
	margin-left: .5em;
	width: 5%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#seriesItems .seriesItem p {
	margin: 0;
	margin-left: .5em;
}

#seriesItems select.typePicker  {
	width: 50%;
}
 
/**
 * Export/update buttons
 */
.updateButton {
	margin-top: 20px;
	clear: both;
	cursor: pointer;
	width: 200px;
	height: 30px;
}

.updateButton p {
	font-family: Arial, "MS Trebuchet", sans-serif;
	padding: 5px;
	background-color: #999;
	color: #ffffff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.downloadLinks {
  margin-bottom: 1em;
}

a.downloadLink {
	line-height: 2em;
}
