/* 
// Make sure to change the name of the font 
// in the webfont.js loader in index.html
*/
@import url(//fonts.googleapis.com/css?family=Cutive); 

svg {
	font-size: 14px;
}

svg #ground {
	fill: #fff;
	stroke: none;
}

svg #plotArea {
	fill: none;
	stroke: none;
}

svg .axis line {
	fill: none;
	shape-rendering: crispEdges;
}

svg .axis g.zero line {
		stroke: #666666;
}

svg #xAxis line {
	stroke: #e6e6e6;
}

svg #xAxis{
	fill: #666666;
}

svg .axis path {
	stroke: none;
	fill: none;
}

svg .axis text {
	font-family: 'Cutive',Helvetica, sans-serif;
}

svg .legendItem text {
	font-family: 'Cutive',Helvetica, sans-serif;
}

svg text.metaText {
	font-family: 'Cutive',Helvetica, sans-serif;
	font-size:  10px;
	text-rendering:   optimizeLegibility;
	fill:  #999999;
}

svg text.barLabel, 
svg text.bargridLabel {
	font-family: 'Cutive',Helvetica, sans-serif;
}

/*Default styling of series*/

svg path.seriesLine {
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
}

svg .seriesScatter circle {
	stroke:#fff;
	stroke-width":1;
}
	
#titleLine {
	font-family: 'Cutive',Helvetica, sans-serif;
	fill: #666666;
}