
.annotation-layer
	position absolute
	top 0
	left 0
	width 100%
	height 100%
.blurb
	width 20em
	
	font-size 1em
	padding 5px
	box-sizing border-box
	z-index 10
	
	&[data-mode="edit"]
		background-color #ccc
		
	&*
		box-sizing border-box
	
	p
		z-index 1
		width 100%

	svg
		position absolute
		overflow visible
		top 0
		left 0
		width 100%
		path 
			fill none
			stroke $color-body-text
			stroke-width 1px
			
		circle
			opacity 0
			fill black
			fill-opacity 0
			stroke $qz-gray-1
			stroke-width 2px
			stroke-dasharray 5,5
			
			&:hover
				opacity 1
				cursor move
		z-index 0
		
	.content
		width 100%
		height 100%
		z-index 1
		span
			cursor text
			
		.end-mark
			width 1px
			height 1px
			display inline-block
		
	.interface
		position absolute
		top -10px
		left -10px
		width calc(100%+10px)
		height calc(100%+10px)
		&:hover
			border 2px dashed #999
		cursor move
	span
		font-family $font-sans-bold
		
	span + span
		font-family $font-sans