// Colors

$color-bg = #fff
$color-body-text = #000
$color-chart-gridline = #ddd
$color-chart-meta = #666
$color-chart-axis-text = #666
$color-chart-title-text = #333
$color-chart-zeroline = #333

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#35b8b5 \
	#e8983a \
	#c96f9a \
	#c7e9b4 \
	#006aab \
	#cf4c49 \
	#31a354 \
	#dddddd \
	#999999

$map-colors = \
	#35b8b5 \
	#e8983a \
	#c96f9a \
	#c7e9b4 \
	#006aab \
	#cf4c49 \
	#31a354 \
	#dddddd \


for d, j in $map-colors
	[data-color-index=\"{j}\"]
	.map
		.cb-colorpicker-color-{j}
			background-color (d)

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke (c)
			stroke-width 2px
			fill (c)

	.color-index-{i}
		fill (c)

	rect.color-index-{i}
		fill (c)

	path.color-index-{i}
		stroke (c)

	circle.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	g.axis.color-index-{i}
		text
			fill (c)
	.chart
		.cb-colorpicker-color-{i}
			background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

