// Default breakpoints

$width-xsmall = 320px
$width-small  = 480px
$width-tablet = 650px
$width-medium = 1024px
$width-large  = 1200px

$single_column_breakpoint = 800px


//@media only screen and (max-width: $width-xsmall)
  //// Old iPhones, iPhone Retina

//@media only screen and (min-width: $width-small) and (max-width: $width-tablet)
//// Extra-small devices, phones

//@media only screen and (min-width: $width-tablet) and (max-width: $width-medium)
  //// Small devices, tablets

//@media only screen and (min-width: $width-medium) and (max-width: $width-large)
  //// Medium devices, desktops

//@media only screen and (min-width: $width-large)
  //// Large devices, wide screens
